

.votingNav{
  margin: 0;
  text-align: center;
  position: relative;
  max-width: 200px;
  
}
.votingNav h2{
  margin: 0;
  border-style: solid;
  border-color: red;
}

.votingNav h2:hover{
  background: green;
}
.votingNav:hover .voteCard li{
  display: block;
  visibility: visible;
}
ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.voteCard li {
  background: darkorange;
    display: none;
    float: none;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  

.voteCard li:hover {
    background: red;
    cursor: pointer;
}

.voteCard li ul {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  right: -162px;
  top: 0px;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}